<!--
  Why 2 sets of doctype/html setup? EJS thing?
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard - Learn or Pay</title> <!-- Use ejs to add username? -->
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard - Learn or Pay</title>
  </head>
  <body>
    <header>
      <!-- Include: Menu button, username and logout option, app name/logo -->
    </header>

    <main>
      <h1>Dashboard</h1> <!-- Use ejs to add username? -->

      <!--
      **********************************************************************************
      SOME PRETTY DISPLAY OF STATS - STREAKS, TOTAL MINUTES STUDIES, TOTAL $ SAVED, ETC.
      **********************************************************************************
      -->

      <!-- LEARNING CARDS -->
      <section>
        <h2>Your Learning Cards</h2>
        <ul class="yourCards">
          <!-- Dynamically made list of current cards in database -->
        </ul>
        <button type="button" name="addCards">Add Cards</button>
        <section> <!-- Section will appear when button toggled -->
          <form class="" action="index.html" method="post"> <!-- Add category fields? -->
            <input type="text" name="front" placeholder="Front of Card">
            <input type="text" name="back" placeholder="Back of Card">
            <button type="button" name="button">Save Card</button>
          </form>
        </section>
      </section>

      <!-- STUDY SCHEDULE -->
      <section>
        <h2>Study Schedule</h2>
        <!-- Display current schedule - visually? with hover-over informatin? -->
        <button type="button" name="changeSchedule">Make Changes to Schedule</button>
        <section> <!-- Section will appear when button toggled -->
          <!-- How to display schedule? Daily lines and input fields? -->
        </section>
      </section>

      <!-- PAYMENT SETTINGS -->
      <section>
        <h2>Payment Settings</h2>
        <!-- Display current payment details in general terms -->
        <button type="button" name="editPayment">Edit Payment Details</button>
        <section> <!-- Section will appear when button toggled -->
          <!-- Should I have a view details before an edit details? How to display? -->
        </section>
      </section>
    </main>

    <footer>
      <nav>
        <!-- Include some quick nav links -->
      </nav>
      <!-- Include designed by, and other misc. info -->
    </footer>

  </body>
</html>
  </body>
</html>
